
body{
   font-family: Zilla Slab, cursive;
}

#nav-branca{
   background-color: #E5E5E5;
}
#separacao{
 background-color: #5A2976;
 width: 20%;
 height: 20%;
}
#nav-usuario{
   border-style: solid;
   border-color:#5A2976;
}
#conteudo{
   padding: 0%;
}
#bg{ 
   background-color: white;
}
#menu-hover{
   margin-left: 30%;
   background-color: #5A2976;
}
#titulo{
   color: #E5E5E5;
}
.banner{
   align-items: center;
   margin-left: 10%;
   margin-top: 10%;
}
.navbar{
   background-color: #662577;
}
#chatbox{
   background-color: #E5E5E5;
   border-style:solid;
   border-color:#5A2976 ;
   font-family: Zilla Slab, cursive;
}
.exemplo-conteudo{
   color: black;
}

