
body{
   font-family: Zilla Slab, cursive;
}

#nav-branca{
   background-color: #E5E5E5;
}
#jogos{
background-color: #f6f6f6;
}
#bg{ 
   background-color: #5A2976;
}
#racionais{
   text-align: center;
   text-transform: uppercase;
}
.banner{
   align-items: center;
   margin-left: 10%;
   margin-top: 10%;
}
#midia{
   background-color:#5a2976 ;
}
.navbar{
   background-color: #662577;
}
.buttons a{
   color: #662577;
   font-family: Zilla Slab;
}
#comentario{
 background-color: #EDEDED;
}
#cadastro{
   display: grid;
   margin-left: 10%;
}
#cadastre{
   background-color: #8A27AC;
   color: #fff;
}
#cadastre a{
   color: white;
}
.Aurora{
   width: 40%;
   margin-left: 28%;
}
.icone{
   padding: 2%;
}
#titulo{
   margin-left: 37%;
   margin-top: 3%;
   margin-bottom: 3%;
}
#entrar{
   background-color: #F6C514;
   color: #5a2976;
}
#periferia{
   background-color: #EDEDED;
}
#contato{
   width: 30%;

   background-color:#f6f6f6 ;
}
.icone-empoderar{
   width: 220px;
   padding: 7%;
}
#chamado{
   background-color: #E5E5E5;
   margin-left: 10%;
   border-radius: 3%;
}
#chamado h1, h2{
   color: #8A27AC;
   font-family: auto;
}
#call-02 h2{
  color: black;
}
#call-02 h1{
   color:#f6f6f6 ;
   background-color: #8A27AC;
   font-family: auto;
}
#chamado03{
   background-color: white;
   margin-left: 10%;
   width: 56%;
}
#chamado03 h1, h2{
   color: #8A27AC;
   font-family: auto;
}
#aurora{
   margin-left: 9%;
}
 .space {
	margin-top: 3%;
}







