body{
    font-family: Zilla Slab, cursive;
    background: #ffffff;
 }

 #nav-branca{
    background-color: #E5E5E5;
 }

 #nav-usuario{
    border-style: solid;
    border-color:#5A2976;
 }

 #bg{
    background-color: white;
    text-align: center;
 }
 #espaco-botao{
    margin-bottom: 10%;
 }
 #menu-hover{
    margin-left: 10%;
    background-color: #5A2976;
 }
 #titulo{
    color: #E5E5E5;
 }
 #alunos h1{
 color: #5A2976;
 }
 #alunos h2{
     color: black;
 }

 .navbar{
    background-color: #662577;
 }
 #professora{
    color: black;
    margin-left: 30%;
 }
 #chatbox{
    background-color: #E5E5E5;
    border-style:solid;
    border-color:#5A2976 ;
    font-family: Zilla Slab, cursive;
 }
#botao-pdf{
    margin-top: -50px;
}
#botao-pdf button{
    background-color: #5A2976;
    font-family: Zilla Slab, cursive;
    color:#E5E5E5
}

#ptss {
   width: 30px;
}

#logo {
   width: 20%;
}

#margim .navbar-item{
   margin-left: 10px;
}
#columns-is-full{
   right: 10px;
}

h1{
   right: 0px;
}

#menu-hovers{
   left: 1030px;
   color: #E5E5E5;
}

.is-full{
   margin: -10%;
}

.hero-body{
   margin-bottom: 40px;
}

#conteudos{
   margin-bottom: 100px;
}
#mnn {
   margin-bottom: 100px;
}
#jogo {
   width: 100%;
}#menu-hovers{
   left: 1030px;
   color: #E5E5E5;
}

.is-full{
   margin: -10%;
}

.hero-body{
   margin-bottom: 40px;
}

#conteudos{
   margin-bottom: 100px;
}
#mnn {
   margin-bottom: 100px;
}
#pts {
   width: 40%;
}
#conteudo-texto{
   background-image: url(./redacao.png);
   width: 100%;
   height: 100%;
   background-repeat: no-repeat;
   align-items:center;
   align-content: center;
    background-size: cover;
    background-position: center;
}

.bot {
   padding: 13px 20px 12px;
   background-color: #5e2ba1;
   border-radius: 4px;
   font-size: 17px;
   font-weight: bold;
   line-height: 20px;
   color: #ffffff;
   margin-bottom: 24px; 
}

#menu-hovers{
   right: 1000px;
   color: #E5E5E5;
}

.is-full{
   margin: -10%;
}

.hero-body{
   margin-bottom: 40px;
}

#conteudos{
   margin-bottom: 100px;
}
#mnn {
   margin-bottom: 100px;
}
#pts {
   width: 40%;
}
#conteudo-texto{
   background-image: url(./redacao.png);
   width: 100%;
   height: 100%;
   background-repeat: no-repeat;
   align-items:center;
   align-content: center;
    background-size: cover;
    background-position: center;
}

.bot {
   padding: 13px 20px 12px;
   background-color: #5e2ba1;
   border-radius: 4px;
   font-size: 17px;
   font-weight: bold;
   line-height: 20px;
   color: #ffffff;
   margin-bottom: 24px; 
}

#menu-hovers{
   right: 1000px;}

   section.hero.is-link.is-fullheight-with-navbar{
      background-color: #ffffff;
      left: 10px;
   }