body {
  font-family: 'Zilla Slab Highlight', cursive;
  background-image: url(../img/sss.png);
  min-height: 100vh;
}

.brand-wrapper {
  margin-bottom: 19px; }

  .brand-wrapper .logo
  {
    height: 37px; }

.login-card {
  border: 0;
  border-radius: 27.5px;
  box-shadow: 0px 30px 30px 30px rgba(0, 0, 0, 0.514);
  overflow: hidden;
  -webkit-border-radius: 27.5px;
  -moz-border-radius: 27.5px;
  -ms-border-radius: 27.5px;
  -o-border-radius: 27.5px;
}

  .login-card-img {
    border-radius: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

  .login-card .card-body {
    padding: 0px 60px 60px; }

    /*@media (max-width: 422px) {
      .login-card .card-body {
        padding: 35px 24px; } }*/

  .login-card-description {
    font-size: 25px;
    color: #5e2ba1;
    font-weight: normal;
    margin-bottom: 23px; }

  .login-card form {
    max-width: 326px; }

  .login-card .form-control {
    border: 1px solid #5e2ba1;
    padding: 15px 25px;
    margin-bottom: 0px;
    min-height: 45px;
    font-size: 13px;
    line-height: 15px;
    font-weight: normal; }

    .login-card .form-control::-webkit-input-placeholder {
      color: #5e2ba1; }

    .login-card .form-control::-moz-placeholder {
      color: #5e2ba1; }

    .login-card .form-control:-ms-input-placeholder {
      color: #5e2ba1; }

    .login-card .form-control::-ms-input-placeholder {
      color: #5e2ba1; }

    .login-card .form-control::placeholder {
      color: #5e2ba1; }

  .login-card .login-btn {
    padding: 13px 20px 12px;
    background-color: #5e2ba1;
    border-radius: 4px;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color: #ffffff;
    margin-bottom: 24px; }
    
    .login-card .login-btn:hover {
      border: 1px solid  #c0bfbf;
      background-color: transparent;
      color:  #c4c2c2;
      background-color: #132e7e;
    }

  .login-card .forgot-password-link {
    font-size: 14px;
    color: #bbb9b9;
    margin-bottom: 12px; }

  .login-card-footer-text {
    font-size: 16px;
    color: #0d2366;
    margin-bottom: 60px; }

    /*@media (max-width: 767px) {
      .login-card-footer-text {
        margin-bottom: 24px; } }*/

  .login-card-footer-nav a {
    font-size: Zilla Slab;
    color: #5A2976;
    font-size: 14px;
    color: #5e2ba1; }

  .dbt
    {
      width:  150px;
      right: 60px;
    }

    #logo{
      margin-left: 445px;
      margin-top: 10%;
    }

    .coll-md-5
    {
      margin-top: 70px;
    }
.form-group .form-control {
  margin-left:  25px;
}
h2 {
  margin-left:  25px;
}
.login-card-footer-nav {
  margin-left:  25px;
}
.login-card .login-btn {
  margin-left:  25px;
}
.coll-md-5 {
  bottom: 40px;
}
/*mediascreen*/
@media screen and (max-width: 721px) {
  .dbt
    {
      width:  20%;
      height: 200px 200px;
    }

    #logo{
      margin-left: 400px;
      margin-top: -610px;
    }
    .login-card-img {
      border-radius: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      position: relative;
      margin-top: 0px;
      -o-object-fit: cover;
      object-fit: cover;
}
  .form-group .form-control {
    margin-left:  80px;
  }
  h2 {
    margin-left:  800px;
    margin-left: 90px;
  }
  h3{
    font-size: 25px;
  }
  .login-card-footer-nav {
    margin-left:  73px;
  }
  .login-card .login-btn {
    margin-left:  80px;
  }
  .coll-md-5 {
    bottom: 4px;
    margin-top: -75px;
  }
  .modal-fade .modal-dialog .modal-content .modal-header .modal-title {
    margin-top: 80px;
  }
}